{"swagger":"2.0","info":{"version":"Integration","title":"Websak+ Integration API","description":"This endpoint contains all the actions that are available for third party integrations.","contact":{"name":"Acos Dokumenthåndtering","url":"https://wwww.acos.no","email":"support@acos.no"}},"host":"gaular.intern.acos.no:8443","schemes":["https"],"paths":{"/api/integration/journalpost/{id}":{"get":{"tags":["Integration"],"summary":"Fetches a document given its id.","operationId":"Integration_GetEnkelJournalpostAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Journalpost"}}}}},"/api/integration/journalpost/{id}/dokumenter":{"get":{"tags":["Integration"],"summary":"Fetches all metadata for attachments and files on a given document","operationId":"Integration_GetDokumenterFraJounalpostAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Dokument"}}}}}},"/api/integration/journalpost/{id}/merknader":{"get":{"tags":["Integration"],"summary":"Fetches notes on a given document","operationId":"Integration_GetMerknaderFraJounalpostAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Merknad"}}}}}},"/api/integration/journalpost/{id}/mottakere":{"get":{"tags":["Integration"],"summary":"Fetches reciveres on a given document","operationId":"Integration_GetKontakterFraJounalpostAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Kontakt"}}}}}},"/api/integration/journalpost/{id}/tilleggsdata":{"get":{"tags":["Integration"],"summary":"Fetches complementary data on a document","operationId":"Integration_GetTilleggsdataFraJournalpostAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.TilleggsDataSett"}}}}},"/api/integration/klassering/update":{"post":{"tags":["Integration"],"summary":"Updates values in classification data on a given case","operationId":"Integration_UpdateKlasseringAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.UpdateKlasseringSettRequest"}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.KlasseringSett"}}}}},"/api/integration/sak/{id}":{"get":{"tags":["Integration"],"summary":"Gets case details given the id for the case","operationId":"Integration_GetSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Sak"}}}}},"/api/integration/sak/{id}/journalposter":{"get":{"tags":["Integration"],"summary":"Fetches documents within a given case.","operationId":"Integration_GetJournalposterFraSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Journalpost"}}}}}},"/api/integration/sak/{id}/klassering":{"get":{"tags":["Integration"],"summary":"Fetches classification on a given case","operationId":"Integration_GetKlasseringerFraSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Klassering"}}}}}},"/api/integration/sak/{id}/klasseringsett":{"get":{"tags":["Integration"],"summary":"Fetches classification data on a given case","operationId":"Integration_GetKlasseringSettFraSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.KlasseringSett"}}}}},"/api/integration/sak/{id}/merknader":{"get":{"tags":["Integration"],"summary":"Fetches notes on a given case.","operationId":"Integration_GetMerknaderFraSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Merknad"}}}}}},"/api/integration/sak/{id}/tilleggsdata":{"get":{"tags":["Integration"],"summary":"Fetches complementary data on a given case","operationId":"Integration_GetTilleggsdataFraSakAsync","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.TilleggsDataSett"}}}}},"/api/integration/sak/ny":{"post":{"tags":["Integration"],"summary":"Returns a new case given the template id and titles given in the fields tittel1,tittel2","operationId":"Integration_LagreNySak","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.NySakRequest"}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.FullSak"}}}}},"/api/integration/sak/nyframal":{"post":{"tags":["Integration"],"summary":"Returns a new case given the template id and titles given in the fields tittel1,tittel2","operationId":"Integration_NySakFramal","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.NySakFraMalRequest"}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Sak"}}}}},"/api/integration/sak/sok/klassering":{"post":{"tags":["Integration"],"summary":"Fetches cases which contains given classifications","operationId":"Integration_SøkSakMedKlasseringAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"kriteria","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.KlasseringKriterium"}}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Sak"}}}}}},"/api/integration/skjema/kanlese/{skjemaref}":{"get":{"tags":["Integration"],"summary":"Checks that current user can read given schema reference","operationId":"Integration_KanLeseSkjema","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"skjemaref","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/integration/skjema/kanskrive/{skjemaref}":{"get":{"tags":["Integration"],"summary":"Checks that current user can write to the given schema reference","operationId":"Integration_KanSkriveSkjema","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"skjemaref","in":"path","description":"","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/integration/skjema/lagreskjema":{"post":{"tags":["Integration"],"summary":"Store a form","operationId":"Integration_LagreSkjema","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"skjema","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Skjema"}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/integration/test":{"get":{"tags":["Integration"],"summary":"You can use this action to check that your client works and is authorized.","operationId":"Integration_Test","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/integration/tilleggsdata/update":{"post":{"tags":["Integration"],"summary":"Updates values in complementary in existing or new revisjon","operationId":"Integration_UpdateTilleggsdataAsync","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.UpdateTilleggsdataSett"}},{"name":"Authorization","in":"header","description":"access token","required":true,"type":"string","default":"Bearer "}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.TilleggsDataSett"}}}}}},"definitions":{"Acos.WebSak.Pluss.Services.Models.Sak.NySakRequest":{"type":"object","properties":{"sak":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.RedigerSakRequest"},"malId":{"format":"int32","type":"integer"},"parentSakId":{"format":"int32","type":"integer"}}},"Acos.WebSak.Pluss.Services.Models.Sak.RedigerSakRequest":{"type":"object","properties":{"parentSakId":{"format":"int32","type":"integer"},"id":{"format":"int32","type":"integer"},"tittel1":{"type":"string"},"tittel2":{"type":"string"},"erSamleMappe":{"type":"boolean"},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.Klassering"}},"aktivtTilleggsdataSett":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataSettKobling"},"noekkelord":{"type":"array","items":{"type":"string"}},"obsDato":{"format":"date-time","type":"string"},"obsKommentar":{"type":"string"},"saksansvarligId":{"format":"int32","type":"integer"},"avdelingId":{"format":"int32","type":"integer"},"saksparter":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Sakspart"}}}},"Acos.WebSak.Pluss.Services.Models.Klassering.Klassering":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"ordnPrinsipp":{"type":"string"},"ordnType":{"type":"string"},"ordnVerdi":{"type":"string"},"ordningsVerdi":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.WsOrdningsverdi"},"ordnVerdiBeskrivelse":{"type":"string"},"ordnPrinsippBeskrivelse":{"type":"string"},"beskrivelse":{"type":"string"},"delete":{"type":"boolean"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataSettKobling":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"isValid":{"type":"boolean"},"deleted":{"type":"boolean"},"createDate":{"format":"date-time","type":"string"},"createdById":{"format":"int32","type":"integer"},"koblinger":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataObject"}},"kopiAvRevisjon":{"format":"int32","type":"integer"},"isDirty":{"type":"boolean"},"lookupDictionaryOnName":{"type":"object","additionalProperties":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataObject"},"readOnly":true}}},"Acos.WebSak.Pluss.Services.Models.Bruker.Sakspart":{"type":"object","properties":{"identitet":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"navn":{"type":"string"},"land":{"type":"string"},"epost":{"type":"string"},"telefon":{"type":"string"},"adresse":{"type":"string"},"postnr":{"type":"string"},"gidId":{"type":"string"},"offentligNummer":{"type":"string"},"landid":{"type":"string"},"poststed":{"type":"string"},"erPersonNavn":{"type":"boolean"},"partsforholdid":{"type":"string"},"partsforhold":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Partsforhold"},"id":{"format":"int32","type":"integer"},"delete":{"type":"boolean"},"gradert":{"type":"boolean"},"attention":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Klassering.WsOrdningsverdi":{"type":"object","properties":{"unique":{"format":"int32","type":"integer"},"ordnPri":{"type":"string"},"ordnVerdi":{"type":"string"},"prinsipp":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.WsOrdningsprinsipp"},"beskrivelse":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataObject":{"type":"object","properties":{"sort":{"format":"int32","type":"integer"},"description":{"type":"string"},"merknad":{"type":"string"},"dataType":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataType"},"isRequired":{"type":"boolean"},"isEnabled":{"type":"boolean"},"valueList":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataVerdier"}},"children":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataObject"}},"isPriority":{"type":"boolean"},"isVisible":{"type":"boolean"},"feltSkalVises":{"type":"boolean"},"feltKanRedigeres":{"type":"boolean"},"niva":{"format":"int32","type":"integer"},"isDirty":{"type":"boolean"},"isDefaultSort":{"type":"boolean"},"visMerknad":{"type":"boolean"},"linje":{"format":"int32","type":"integer"},"multiple":{"type":"boolean"},"vsdId":{"format":"int32","type":"integer"},"vsdParentId":{"format":"int32","type":"integer"},"parentId":{"format":"int32","type":"integer"},"vsrId":{"format":"int32","type":"integer"},"erKopi":{"type":"boolean"},"erNy":{"type":"boolean"},"level":{"format":"int32","type":"integer"},"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"value":{"type":"object"}}},"Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt":{"type":"object","properties":{"sdmId":{"format":"int32","type":"integer"},"eksternId":{"type":"string"},"navn":{"type":"string"},"epost":{"type":"string"},"gidKode":{"type":"string"},"erIdentitet":{"type":"boolean"},"erMottaker":{"type":"boolean"},"kontaktType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9],"type":"integer"},"kontakter":{"type":"array","items":{"$ref":"#/definitions/Acos.Websak.Kontakter.Sok.Interfaces.IKontakt"}},"avdelingTre":{"type":"string"},"avdelingKode":{"type":"string"},"avdelingNavn":{"type":"string"},"tittel":{"type":"string"},"avdelingGidId":{"type":"string"},"avskrivingInfo":{"type":"string"},"gidId":{"format":"int32","type":"integer"},"avdelingId":{"format":"int32","type":"integer"},"kanRedigere":{"type":"boolean"},"kanFordele":{"type":"boolean"},"kanSlette":{"type":"boolean"},"frist":{"format":"date-time","type":"string"},"medlemmer":{"type":"array","items":{"$ref":"#/definitions/Acos.Websak.Kontakter.Sok.Interfaces.IKontakt"}},"kategoriId":{"format":"int32","type":"integer"},"forsendelseStatus":{"type":"string"},"adresse":{"type":"string"},"postNrSted":{"type":"string"},"postnr":{"type":"string"},"poststed":{"type":"string"},"landId":{"type":"string"},"telefon":{"type":"string"},"offentligNummer":{"type":"string"},"erPersonNavn":{"type":"boolean"},"attention":{"type":"string"},"virksomhet":{"$ref":"#/definitions/Acos.Websak.Kontakter.Sok.Interfaces.IKontakt"},"referanse":{"type":"string"},"organId":{"format":"int32","type":"integer"},"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Bruker.Partsforhold":{"type":"object","properties":{"id":{"type":"string"},"beskrivelse":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Klassering.WsOrdningsprinsipp":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"ordnPri":{"type":"string"},"beskrivelse":{"type":"string"},"obligatorisk":{"type":"boolean"},"kanVisesITabell":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataType":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"type":{"type":"string"},"format":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataVerdier":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"value":{"type":"string"},"description":{"type":"string"},"disabled":{"type":"boolean"}}},"Acos.Websak.Kontakter.Sok.Interfaces.IKontakt":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"eksternId":{"type":"string"},"navn":{"type":"string"},"offentligNummer":{"type":"string"},"epost":{"type":"string"},"telefon":{"type":"string"},"adresse":{"type":"string"},"kode":{"type":"string"},"postnr":{"type":"string"},"poststed":{"type":"string"},"avdelingGidId":{"type":"string"},"avdelingId":{"format":"int32","type":"integer"},"avdelingNavn":{"type":"string"},"avdelingKode":{"type":"string"},"erIdentitet":{"type":"boolean"},"kontaktType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9],"type":"integer"},"kontakter":{"type":"array","items":{"$ref":"#/definitions/Acos.Websak.Kontakter.Sok.Interfaces.IKontakt"}},"attention":{"type":"string"},"virksomhet":{"$ref":"#/definitions/Acos.Websak.Kontakter.Sok.Interfaces.IKontakt"}}},"Acos.WebSak.Pluss.Services.Models.Sak.FullSak":{"type":"object","properties":{"variant":{"format":"int32","enum":[0,1],"type":"integer","readOnly":true},"obsDato":{"format":"date-time","type":"string"},"obsKommentar":{"type":"string"},"saksparter":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Sakspart"}},"journalposter":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.EnkelJournalpost"}},"merknader":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Merknad.Merknad"}},"avgjorelse":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"antallJournalposter":{"format":"int32","type":"integer"},"antallMerknader":{"format":"int32","type":"integer"},"antallFiler":{"format":"int32","type":"integer"},"antallKryssref":{"format":"int32","type":"integer"},"mapper":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.EnkelSak"}},"mappe":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Mappe.Mappe"},"harAktivArbeidsflyt":{"type":"boolean"},"kanInitialisereDatasett":{"type":"boolean"},"kanLageNyRevisjonDatasett":{"type":"boolean"},"aktivtTilleggsdataSett":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataSettKobling"},"noekkelord":{"type":"array","items":{"type":"string"}},"uthentet":{"format":"date-time","type":"string"},"kryssreferanser":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Kryssreferanse.WsKryssreferanse"}},"tilleggsdataRevisjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataSettKobling"}},"flyt":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.EnkelWsArbeidsflyt"},"tilskuddData":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilskuddData"},"tilskuddGruppering":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Tilskudd.TilskuddGruppering"},"visFaneTilskudd":{"type":"boolean"},"avsluttDato":{"format":"date-time","type":"string"},"erAvsluttet":{"type":"boolean"},"id":{"format":"int32","type":"integer"},"harMappeStruktur":{"type":"boolean"},"tittel1":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"tittel2":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"visningId":{"type":"string"},"visningTittel":{"type":"string"},"saksdato":{"format":"date-time","type":"string"},"brukerId":{"type":"string"},"lest":{"type":"boolean"},"journalenhet":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"sakstatus":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.WsSakStatus"},"saksansvarlig":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"avdeling":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.KontaktRegisterItem"},"saksansvarligId":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"skjerming":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Skjerming"},"operasjoner":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.SakTilgangOperasjoner"},"mappeTypeId":{"format":"int32","type":"integer"},"mappeSortering":{"format":"int32","type":"integer"},"sakstype":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Sakstype"},"sone":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Miljo.Sone"},"hovedfeltTillegsdata":{"type":"string"},"arkivdel":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"linkIntegrasjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.EksternLinkIntegration"}},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.Klassering"}}}},"Acos.WebSak.Pluss.Services.Models.Journalpost.EnkelJournalpost":{"type":"object","properties":{"variant":{"format":"int32","enum":[0,1],"type":"integer","readOnly":true},"brukerId":{"type":"string"},"avsendere":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"}},"id":{"format":"int32","type":"integer"},"sakId":{"format":"int32","type":"integer"},"parentSakObj":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.EnkelSak"},"tittel1":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"tittel2":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"visningId":{"type":"string"},"visningTittel":{"type":"string"},"brevDato":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.DateField"},"forfallsDato":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.DateField"},"mottattDato":{"format":"date-time","type":"string"},"dokType":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.JournalpostType"},"arkivdel":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"alias":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"status":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.JournalpostStatus"},"skjerming":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Skjerming"},"journalEnhet":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"erBehandlingPaaBegynt":{"type":"boolean"},"erBehandlingFerdig":{"type":"boolean"},"kreverBehandling":{"type":"boolean"},"kanLagre":{"type":"boolean"},"avskrivingsinfo":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.AvskrivInfo"},"lest":{"type":"boolean"},"dokNr":{"format":"int32","type":"integer"},"operasjoner":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.JournalpostTilgangOperasjoner"},"sone":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Miljo.Sone"},"saksbehandler":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.KontaktRegisterItem"},"avsMott":{"type":"string"},"dokumenter":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Dokument.Dokument"}},"avdeling":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.KontaktRegisterItem"},"linkIntegrasjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.EksternLinkIntegration"}},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.Klassering"}}}},"Acos.WebSak.Pluss.Services.Models.Merknad.Merknad":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"avsender":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"tekst":{"type":"string"},"tidspunkt":{"format":"date-time","type":"string"},"infoType":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.InfoType"},"paVegneAv":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"}}},"Acos.WebSak.Pluss.Services.Models.Register.RegisterItem":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Sak.EnkelSak":{"type":"object","properties":{"variant":{"format":"int32","enum":[0,1],"type":"integer","readOnly":true},"id":{"format":"int32","type":"integer"},"harMappeStruktur":{"type":"boolean"},"tittel1":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"tittel2":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TextField"},"visningId":{"type":"string"},"visningTittel":{"type":"string"},"saksdato":{"format":"date-time","type":"string"},"brukerId":{"type":"string"},"lest":{"type":"boolean"},"journalenhet":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"sakstatus":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.WsSakStatus"},"saksansvarlig":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"avdeling":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.KontaktRegisterItem"},"saksansvarligId":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"skjerming":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Skjerming"},"operasjoner":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.SakTilgangOperasjoner"},"mappeTypeId":{"format":"int32","type":"integer"},"mappeSortering":{"format":"int32","type":"integer"},"sakstype":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Sakstype"},"sone":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Miljo.Sone"},"hovedfeltTillegsdata":{"type":"string"},"arkivdel":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"linkIntegrasjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.EksternLinkIntegration"}},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Klassering.Klassering"}}}},"Acos.WebSak.Pluss.Services.Models.Mappe.Mappe":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"mappeTypeId":{"format":"int32","type":"integer"},"sakId":{"format":"int32","type":"integer"},"tittel":{"type":"string"},"mapper":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Mappe.Mappe"}},"kanBliSamlemappe":{"type":"boolean"},"kanBliSaksmappe":{"type":"boolean"},"kanLeggeTilSaksmappe":{"type":"boolean"},"sortering":{"format":"int32","type":"integer"},"erSamleMappe":{"type":"boolean"},"expanded":{"type":"boolean"},"sakstype":{"type":"string"},"harUndermapper":{"type":"boolean"},"arkivDel":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Kryssreferanse.WsKryssreferanse":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"tilSakId":{"format":"int32","type":"integer"},"fraSakId":{"format":"int32","type":"integer"},"tilJpId":{"format":"int32","type":"integer"},"fraJpId":{"format":"int32","type":"integer"},"fraSak":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.EnkelSak"},"tilSak":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.EnkelSak"},"fraJp":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.EnkelJournalpost"},"tilJp":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.EnkelJournalpost"}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.EnkelWsArbeidsflyt":{"type":"object","properties":{"sakId":{"format":"int32","type":"integer"},"startet":{"format":"date-time","type":"string"},"gjeldendeFase":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsFase"},"gjeldendePunkt":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsPunkt"},"faser":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsFase"}},"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"beskrivelse":{"type":"string"},"ikon":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.TilleggsData.TilskuddData":{"type":"object","properties":{"sakGruppering":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Tilskudd.TilskuddGruppering"},"journalpostGrupperinger":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Tilskudd.TilskuddGruppering"}},"tidBrukt":{"type":"string"},"maxAntallRevisjoner":{"format":"int32","type":"integer"},"revisjonIndex":{"format":"int32","type":"integer"},"tittel":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Tilskudd.TilskuddGruppering":{"type":"object","properties":{"jpId":{"format":"int32","type":"integer"},"sakId":{"format":"int32","type":"integer"},"tittel":{"type":"string"},"datasettId":{"format":"int32","type":"integer"},"operasjoner":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Sak.SakTilgangOperasjoner"},"mappeTypeId":{"format":"int32","type":"integer"},"tilleggsData":{"type":"object","additionalProperties":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.TilleggsData.TilleggsDataObject"}}}},"Acos.WebSak.Pluss.Services.Models.Register.TextField":{"type":"object","properties":{"isEditable":{"type":"boolean"},"value":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.WsSakStatus":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Register.KontaktRegisterItem":{"type":"object","properties":{"isEditable":{"type":"boolean"},"value":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"}}},"Acos.WebSak.Pluss.Services.Models.Register.Skjerming":{"type":"object","properties":{"tilgangsKode":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.TilgangsKode"},"tilgangsKodeKanRedigeres":{"type":"boolean"},"tilgangsKode2":{"type":"string"},"avskjermingKode":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.AvskjermingKode"},"avskjermingKanRedigeres":{"type":"boolean"},"paragraf":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Paragraf"},"paragrafKanRedigeres":{"type":"boolean"},"erPersonSensitiv":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.BooleanField"},"undergraderingKode":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Sak.SakTilgangOperasjoner":{"type":"object","properties":{"kanLeggeTilJournalpost":{"type":"boolean"},"kanLeggeTilSak":{"type":"boolean"},"kanLeggeTilSakspart":{"type":"boolean"},"kanLeggeTilNokkelord":{"type":"boolean"},"kanRedigereTilleggsdata":{"type":"boolean"},"kanRedigere":{"type":"boolean"},"kanFordele":{"type":"boolean"},"kanLeggeTilMerknad":{"type":"boolean"},"kanRenummerere":{"type":"boolean"},"kanRedigereTilgangsgrupper":{"type":"boolean"},"kanLeggeTilLeseTilgangsgruppe":{"type":"boolean"},"kanSendeTilAvslutning":{"type":"boolean"},"kanLeggeTilSkriveTilgangsgruppe":{"type":"boolean"},"kanBliSamlemappe":{"type":"boolean"},"kanBliSaksmappe":{"type":"boolean"},"kanStarteArbeidsflyt":{"type":"boolean"},"harSkriveTilgang":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Register.Sakstype":{"type":"object","properties":{"harTilgangskoder":{"type":"boolean"},"tilgangskoder":{"type":"array","items":{"format":"int32","type":"integer"}},"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Miljo.Sone":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"farge":{"type":"string"},"visNavn":{"type":"boolean"},"tillaterKanaler":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Register.EksternLinkIntegration":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"label":{"type":"string"},"uri":{"type":"string"},"modal":{"type":"boolean"},"image":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Register.DateField":{"type":"object","properties":{"isEditable":{"type":"boolean"},"value":{"format":"date-time","type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Register.JournalpostType":{"type":"object","properties":{"ekstProd":{"type":"boolean"},"tillaterInterne":{"type":"boolean"},"tillaterEksterne":{"type":"boolean"},"tillaterInterneKopi":{"type":"boolean"},"tillaterEksterneKopi":{"type":"boolean"},"kreverMottakere":{"type":"boolean"},"kreverEksterneMottakere":{"type":"boolean"},"kreverKopiMottakere":{"type":"boolean"},"kreverEksterneKopiMottakere":{"type":"boolean"},"sakstyper":{"type":"array","items":{"type":"string"}},"harMottattDato":{"type":"boolean"},"erNotat":{"type":"boolean"},"isEditable":{"type":"boolean"},"value":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"}}},"Acos.WebSak.Pluss.Services.Models.Register.JournalpostStatus":{"type":"object","properties":{"selectable":{"type":"boolean"},"isEditable":{"type":"boolean"},"value":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"}}},"Acos.WebSak.Pluss.Services.Models.Journalpost.AvskrivInfo":{"type":"object","properties":{"avskrivjp":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.AvskrivElement"},"details":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Journalpost.AvskrivElement"}}}},"Acos.WebSak.Pluss.Services.Models.Journalpost.JournalpostTilgangOperasjoner":{"type":"object","properties":{"kanBesvare":{"type":"boolean"},"kanRedigere":{"type":"boolean"},"kanRedigereTilleggsdata":{"type":"boolean"},"kanFordele":{"type":"boolean"},"kanEndreSaksbehandler":{"type":"boolean"},"kanEkspedere":{"type":"boolean"},"kanFjerneFraKurv":{"type":"boolean"},"kanLeggeTilDokument":{"type":"boolean"},"kanLeggeTilMerknad":{"type":"boolean"},"kanLeggeTilOppgave":{"type":"boolean"},"kanLeggeTilAvsenderMottaker":{"type":"boolean"},"kanLeggeTilKopiAvsenderMottaker":{"type":"boolean"},"erPostFordelerForNoenAvMottakerne":{"type":"boolean"},"erPostFordelerForJp":{"type":"boolean"},"kanFeilRegistrere":{"type":"boolean"},"kanEndreSone":{"type":"boolean"},"kanSendePaaEpost":{"type":"boolean"},"kanRedigereTilgangsgrupper":{"type":"boolean"},"kanLeggeTilLeseTilgangsgruppe":{"type":"boolean"},"kanLeggeTilSkriveTilgangsgruppe":{"type":"boolean"},"kanInnsynsvurderes":{"type":"boolean"},"kanMoteOppmelding":{"type":"boolean"},"kanKopiere":{"type":"boolean"},"kanFlytte":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Dokument.Dokument":{"type":"object","properties":{"parentJp":{"format":"int32","type":"integer"},"id":{"format":"int32","type":"integer"},"aktivDokVersjonId":{"format":"int32","type":"integer"},"aktivFilId":{"format":"int32","type":"integer"},"navn":{"type":"string"},"dokumentType":{"format":"int32","enum":[0,1],"type":"integer"},"versjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Dokument.DokVersjon"}},"graderingKode":{"type":"string"},"rekkefolge":{"format":"int32","type":"integer"},"kanSetteSomHoveddokument":{"type":"boolean"},"kanRedigere":{"type":"boolean"},"aktivOffentligDokVersjonId":{"format":"int32","type":"integer"}}},"Acos.WebSak.Pluss.Services.Models.Register.InfoType":{"type":"object","properties":{"kode":{"type":"string"},"tekst":{"type":"string"},"erDefault":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsFase":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"beskrivelse":{"type":"string"},"erUtfort":{"type":"boolean"},"erAktiv":{"type":"boolean"},"resultat":{"type":"string"},"startDato":{"format":"date-time","type":"string"},"sluttDato":{"format":"date-time","type":"string"},"erFerdigFase":{"type":"boolean"},"erStartFase":{"type":"boolean"},"startMilepel":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsMilepel"},"sluttMilepel":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsMilepel"}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsPunkt":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"beskrivelse":{"type":"string"},"ikon":{"type":"string"},"status":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Interfaces.PunktStatus"},"punkter":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsPunkt"}},"utganger":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsUtgang"}}}},"Acos.WebSak.Pluss.Services.Models.Register.TilgangsKode":{"type":"object","properties":{"standardParagrafId":{"format":"int32","type":"integer"},"erUnderGradering":{"type":"boolean"},"brukerInfo":{"type":"string"},"stikkOrd":{"type":"string"},"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Register.AvskjermingKode":{"type":"object","properties":{"gyldigFor":{"type":"string"},"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Register.Paragraf":{"type":"object","properties":{"anvendelse":{"type":"string"},"internParagraf":{"type":"boolean"},"id":{"format":"int32","type":"integer"},"kode":{"type":"string"},"beskrivelse":{"type":"string"},"isEditable":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Register.BooleanField":{"type":"object","properties":{"isEditable":{"type":"boolean"},"value":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Journalpost.AvskrivElement":{"type":"object","properties":{"text":{"type":"string"},"jpId":{"format":"int32","type":"integer"},"kanBesvare":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Dokument.DokVersjon":{"type":"object","properties":{"dokumentId":{"format":"int32","type":"integer"},"navn":{"type":"string"},"id":{"format":"int32","type":"integer"},"parentJp":{"format":"int32","type":"integer"},"parentSak":{"format":"int32","type":"integer"},"versjon":{"format":"int32","type":"integer"},"variant":{"type":"string"},"eier":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.EnkelBruker"},"opprettet":{"format":"date-time","type":"string"},"endret":{"format":"date-time","type":"string"},"dokumentTilgang":{"format":"int32","enum":[0,1,2],"type":"integer"},"erAktiv":{"type":"boolean"},"dokumentType":{"type":"string"},"dokumentKode":{"type":"string"},"filNavn":{"type":"string","readOnly":true},"hasFile":{"type":"boolean"},"filId":{"format":"int32","type":"integer"},"format":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"filtype":{"type":"string"},"size":{"type":"string"},"children":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Dokument.DokVersjon"}},"erUtsjekket":{"type":"boolean"},"kanSjekkeInn":{"type":"boolean"},"erUtsjekketAvInnloggetBruker":{"type":"boolean"},"utsjekketTil":{"type":"string"},"kanRedigere":{"type":"boolean"},"kanImportere":{"type":"boolean"},"kanLese":{"type":"boolean"},"kanSlette":{"type":"boolean"},"kanSendeEpost":{"type":"boolean"},"kanSetteAktiv":{"type":"boolean"},"uri":{"type":"string"},"checkSum":{"type":"string"},"dokStatus":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"variantId":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.RegisterItem"},"kategori":{"type":"string"},"arkMerk":{"type":"string"},"utarbAv":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"skjerming":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.Skjerming"},"oppBeDato":{"format":"date-time","type":"string"},"kanLeggeTilOffentligVariant":{"type":"boolean"},"publisering":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Dokument.Publisering"},"kanFlettePaaNy":{"type":"boolean"},"kanOppretteNyVersjon":{"type":"boolean"},"eierId":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Bruker.Kontakt"},"arkivRef":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Services.Ekstern.ArkivRef"},"plassering":{"type":"string"},"linkIntegrasjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Register.EksternLinkIntegration"}}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsMilepel":{"type":"object","properties":{"navn":{"type":"string"},"erUtfort":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Interfaces.PunktStatus":{"type":"object","properties":{"navn":{"type":"string"},"beskrivelse":{"type":"string"},"kode":{"type":"string"},"ferdigStatus":{"type":"boolean"},"ikon":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsUtgang":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"ikon":{"type":"string"},"beskrivelse":{"type":"string"},"valgIkon":{"type":"string"},"canRun":{"format":"int32","enum":[0,1,2],"type":"integer","readOnly":true},"canRunDescription":{"type":"array","items":{"type":"string"},"readOnly":true},"handlinger":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsHandling"}},"isDisabled":{"type":"boolean"},"errorMsg":{"type":"string"},"isStarted":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Models.Bruker.EnkelBruker":{"type":"object","properties":{"variant":{"format":"int32","enum":[0,1,2],"type":"integer","readOnly":true},"erIdentitet":{"type":"boolean"},"kontaktType":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9],"type":"integer"},"kode":{"type":"string"},"tittel":{"type":"string"},"avdelingId":{"format":"int32","type":"integer"},"avdelingKode":{"type":"string"},"avdelingNavn":{"type":"string"},"emailAdr":{"type":"string"},"id":{"format":"int32","type":"integer"},"navn":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Dokument.Publisering":{"type":"object","properties":{"status":{"format":"int32","enum":[0,1,2,3,-3,-1],"type":"integer"},"tekst":{"type":"string"},"dato":{"type":"string"},"kanPublisere":{"type":"boolean"},"kanSlettePublisering":{"type":"boolean"},"publiserVariant":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Models.Dokument.DokVersjon"},"erPubliserVariant":{"type":"boolean"},"erPublisert":{"type":"boolean"},"harAktivPubliserStatus":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Services.Ekstern.ArkivRef":{"type":"object","properties":{"provider":{"type":"string"},"externalId":{"type":"string"},"sakId":{"format":"int32","type":"integer"},"jpId":{"format":"int32","type":"integer"},"dokVersjonId":{"format":"int32","type":"integer"},"lastArchived":{"format":"date-time","type":"string"}}},"Acos.WebSak.Pluss.Services.Models.Arbeidsflyt.WsHandling":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"taskId":{"type":"string"},"canRun":{"format":"int32","enum":[0,1,2],"type":"integer"},"canRunDescription":{"type":"string"},"beskrivelse":{"type":"string"},"navn":{"type":"string"},"runAsPostTask":{"type":"boolean"},"isWebTask":{"type":"boolean"},"handlingId":{"format":"int32","type":"integer"},"schema":{"type":"object"}}},"Acos.WebSak.Pluss.Services.Integration.Models.NySakFraMalRequest":{"type":"object","properties":{"malSakId":{"format":"int32","type":"integer"},"tittel1":{"type":"string"},"tittel2":{"type":"string"},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Klassering"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.Klassering":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"ordnPrinsipp":{"type":"string"},"ordnVerdi":{"type":"string"},"beskrivelse":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.Sak":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"tittel1":{"type":"string"},"tittel2":{"type":"string"},"visningId":{"type":"string"},"visningTittel":{"type":"string"},"avsluttetDato":{"format":"date-time","type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.KlasseringKriterium":{"type":"object","properties":{"feltNavn":{"type":"string"},"operator":{"type":"string"},"verdi":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.Journalpost":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"visningId":{"type":"string"},"sakId":{"format":"int32","type":"integer"},"sakVisningId":{"type":"string"},"tittel1":{"type":"string"},"tittel2":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.TilleggsDataSett":{"type":"object","properties":{"revisjonId":{"format":"int32","type":"integer"},"tilleggsData":{"type":"object","additionalProperties":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Tilleggsdata"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.Tilleggsdata":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"verdi":{"type":"object"},"children":{"type":"object","additionalProperties":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Tilleggsdata"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.UpdateTilleggsdataSett":{"type":"object","properties":{"sakId":{"format":"int32","type":"integer"},"jpId":{"format":"int32","type":"integer"},"nyRevisjon":{"type":"boolean"},"revisjonId":{"format":"int32","type":"integer"},"tilleggsData":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Tilleggsdata"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.KlasseringSett":{"type":"object","properties":{"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Klassering"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.UpdateKlasseringSettRequest":{"type":"object","properties":{"sakId":{"format":"int32","type":"integer"},"klasseringer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Klassering"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.Merknad":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"avsender":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.Kontakt"},"tekst":{"type":"string"},"tidspunkt":{"format":"date-time","type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.Kontakt":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"navn":{"type":"string"},"gidKode":{"type":"string"},"kode":{"type":"string"},"telefon":{"type":"string"},"epost":{"type":"string"},"adresse1":{"type":"string"},"adresse2":{"type":"string"},"adresse3":{"type":"string"},"adresse4":{"type":"string"},"postnr":{"type":"string"},"poststed":{"type":"string"},"land":{"type":"string"},"offentligNummer":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.Dokument":{"type":"object","properties":{"parentJp":{"format":"int32","type":"integer"},"id":{"format":"int32","type":"integer"},"aktivDokVersjonId":{"format":"int32","type":"integer"},"aktivFilId":{"format":"int32","type":"integer"},"navn":{"type":"string"},"dokumentType":{"format":"int32","enum":[0,1],"type":"integer"},"versjoner":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.DokumentVersjon"}},"graderingKode":{"type":"string"},"kanLeggeTilNyVersjon":{"type":"boolean"}}},"Acos.WebSak.Pluss.Services.Integration.Models.DokumentVersjon":{"type":"object","properties":{"navn":{"type":"string"},"id":{"format":"int32","type":"integer"},"parentJp":{"format":"int32","type":"integer"},"versjon":{"format":"int32","type":"integer"},"variant":{"type":"string"},"opprettet":{"format":"date-time","type":"string"},"endret":{"format":"date-time","type":"string"},"erAktiv":{"type":"boolean"},"dokumentType":{"format":"int32","enum":[0,1],"type":"integer"},"dokumentKode":{"type":"string"},"filNavn":{"type":"string"},"filId":{"format":"int32","type":"integer"},"filtype":{"type":"string"},"size":{"type":"string"}}},"Acos.WebSak.Pluss.Services.Integration.Models.Skjema":{"type":"object","properties":{"skjemaRef":{"type":"string"},"filer":{"type":"array","items":{"$ref":"#/definitions/Acos.WebSak.Pluss.Services.Integration.Models.FileContent"}}}},"Acos.WebSak.Pluss.Services.Integration.Models.FileContent":{"type":"object","properties":{"innhold":{"type":"string"},"type":{"type":"string"}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Implicit Grant","flow":"implicit","authorizationUrl":"https://gaular.intern.acos.no:5007/connect/authorize","scopes":{"pluss_api":""}}}}